<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New URL</title>
</head>
<body>
	
	<h1>Add New URL</h1>

	<form method="POST" action="/urls/new">
		<label for="short">Short</label>
		<input id="short" type="text" name="short"/>
		<br/>
		<label for="long">Long</label>
		<input id="long" type="text" name="long"/>
		<br/>
		<button>Add</button>
	</form>

</body>
</html>